<div class="container-fluid header-container">
    <div class="row d-flex justify-content-between align-items-start">

        <div class="col-auto">
            

            <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                    <button (click)="onExportToExcel()" class="btn custom-btn me-1">Download to Excel
                        <img src="/assets/images/download.svg"/>
                    </button>
                </div>
                
                <div class="col-auto">
                    <button (click)="onAddEmployee()" class="btn custom-btn me-1">Add Employee
                        <img src="/assets/images/add.svg"/>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
</div>
