<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<mat-dialog-actions align="end">
    <button class="w-10 btn btn-lg btn-primary" mat-button mat-dialog-close>
        <img src="\assets\images\deleteX.svg">
    </button>
</mat-dialog-actions>

<mat-dialog-content class="mat-typography">
    <form class="my" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" style="max-width: 1200px;">
        <div class="form-floating mb-3">
            <label for="firstname">first name</label>
            <input class="form-control" type="text" id="firstName" formControlName="firstName">
            <div *ngIf="employeeForm.get('firstName')?.invalid && (employeeForm.get('firstName')?.dirty || employeeForm.get('firstName')?.touched)"
                class="text-danger">
                <div *ngIf="employeeForm.get('firstName')?.errors?.['required']">First name is required.</div>
                <div *ngIf="employeeForm.get('firstName')?.errors?.['minlength']">First name must be at least 2
                    characters.</div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>

        <div class="form-floating mb-3">
            <label for="lastname">last name</label>
            <input class="form-control" type="text" id="lastName" formControlName="lastName">
            <div *ngIf="employeeForm.get('lastName')?.invalid && (employeeForm.get('lastName')?.dirty || employeeForm.get('lastName')?.touched)"
                class="text-danger">
                <div *ngIf="employeeForm.get('lastName')?.errors?.['required']">Last name is required.</div>
                <div *ngIf="employeeForm.get('lastName')?.errors?.['minlength']">Last name must be at least 2
                    characters.</div>
            </div>
        </div>
        
        <div class="form-floating mb-3">
            <label for="startDate">start date</label>
            <input class="form-control" type="date" id="startDate" formControlName="startDate" start date>
            <div *ngIf="employeeForm.get('startDate')?.invalid && (employeeForm.get('startDate')?.dirty || employeeForm.get('startDate')?.touched)"
                class="text-danger">
                <div *ngIf="employeeForm.get('startDate')?.errors?.['required']">Start date is required.</div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <label for="status">status</label>
            <select class="form-select form-control" aria-label="status" id="status" formControlName="status">
                <option [ngValue]="true">Active</option>
                <option [ngValue]="false">Inactive</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <label for="birthDate">Birth Date</label>
            <input class="form-control" type="date" id="birthDate" formControlName="birthDate" placeholder="birth date">
            <div *ngIf="employeeForm.get('birthDate')?.invalid && (employeeForm.get('birthDate')?.dirty || employeeForm.get('birthDate')?.touched)"
                class="text-danger">
                <div *ngIf="employeeForm.get('birthDate')?.errors?.['required']">Birth date is required.</div>
            </div>
        </div>

        <div class="form-floating mb-3">
            <label for="gender">Gender</label>
            <select class="form-select form-control" aria-label="Gender" id="gender" formControlName="gender">
                <option value="" disabled selected>Gender</option>
                <option value="0">male</option>
                <option value="1">female</option>
            </select>

        </div>
        <div>

            <label for="role">Roles:</label>
            <div formArrayName="rolesForEmployees" *ngFor="let role of rolesForEmployees.controls; let i = index"
                class="role-group" class="d-flex align-items-center">
                <div [formGroupName]="i">
                    <select formControlName="roleDId" class="form-select form-control">
                        <option *ngFor="let option of rolesList" [value]="option.id">{{ option.roleName }}</option>
                    </select>
                    <input formControlName="roleName" type="hidden" readonly>
                    <label for="entry date">entry date:</label>
                    <input formControlName="entryDate" type="date" class="form-select form-control">
                    <label for="entry date">isManagerial:</label>
                    <select formControlName="isManagerial" class="form-select form-control">
                        <option [ngValue]="false">false</option>
                        <option [ngValue]="true">true</option>
                    </select>
                    <button type="button" (click)="removeRole(i)">
                        <img src="/assets/images/deleteX.svg" />
                    </button>
                </div>

            </div>

        </div>

        <button type="button" class="btn btn-primary" (click)="addRole()">Add Role</button>
        <div *ngIf="employeeForm.hasError('invalidEntryDate')">InvalidEntryDate.</div>
        <div *ngIf="rolesForEmployees.hasError('roleAlreadyExists')">Role already exists in the list.</div>

        <button type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
    </form>
</mat-dialog-content>